*.pyc
RIG/UTILITYES/getUParam.py
.vscode/launch.json
.vscode/.ropeproject/config.py
*.pyc
*.pyc
RIG/ES_AUTORIG/ES_SPINE_RIG.pyc
*.pyc
*.pyc
RIG/ES_AUTORIG/ES_SPINE_RIG.pyc
RIG/ES_AUTORIG/ES_SPINE_RIG.pyc
P:\LOCAL\ES_SCRIPTS\EXOCORTEX
P:\LOCAL\ES_SCRIPTS\MODULOS
RIG/UTILITYES/UTILITYES2.py